src/test/resources/schema/complextype/person/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:include schemaLocation="../uint/uint.xsd"/>

    <xsd:complexType name="Person">
        <xsd:all>
            <xsd:element name="first_name" type="xsd:string"/>
            <xsd:element name="last_name" type="xsd:string"/>
            <xsd:element name="middle_name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="years" type="UnsignedInt" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="person" type="Person"/>

</xsd:schema>
